* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.title {
  margin-top: 96px;
}

.intro-chunk {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem 2.4rem;
}

.intro-chunk strong {
  color: #009966;
}

.max-width-wrapper {
  padding: 64px 0px;
}

section {
  background-color: #666666;
  border-top: 8px solid #999999;
}

.card {
  max-width: 800px;
  padding: 24px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-bottom: 8px solid #999999;
}

.indented-heading {
  padding: 16px 32px 15px;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
  margin-left: -32px;
  width: fit-content;
}
/* Add styles here! */
